body, html {
  height: 100%; }

body {
  background: url(../img/background.png) center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  background-size: cover; }

header:after {
  content: "";
  display: table;
  clear: both; }

.logo {
  text-align: center;
  display: block;
  width: 50%;
  margin: 20px; }
  .logo img {
    width: 100%; }
  .logo a {
    display: block; }
  @media screen and (min-width: 600px) {
    .logo {
      float: left;
      width: 20%;
      margin-left: 40px; } }

nav:after {
  content: "";
  display: table;
  clear: both; }

nav ul {
  list-style: none; }
  @media screen and (min-width: 600px) {
    nav ul {
      list-style: none;
      float: right;
      width: 70%;
      padding: 0;
      margin: 20px 40px 20px 0px;
      text-align: right; } }

nav li {
  display: inline-block;
  padding: 10px; }
  @media screen and (min-width: 600px) {
    nav li {
      padding: 10px; } }

nav a {
  display: block;
  text-decoration: none;
  color: #e8ddd6;
  font-family: "raleway", sans-serif;
  font-weight: 100;
  text-align: center;
  text-shadow: -1px 3px 3px rgba(0, 0, 0, 0.5); }
  @media screen and (min-width: 600px) {
    nav a:hover {
      color: #eac077; } }

.wrapper {
  background: #161927;
  padding-bottom: 20px;
  margin: 0 auto; }
  .wrapper:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 600px) {
    .wrapper {
      width: 90%;
      margin: 0 auto; } }

.home_wrapper {
  background: #161927;
  padding-bottom: 20px;
  width: 80%;
  margin: 0 auto; }
  .home_wrapper:after {
    content: "";
    display: table;
    clear: both; }

.home_info_container {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px; }
  .home_info_container:after {
    content: "";
    display: table;
    clear: both; }
  .home_info_container h5 {
    margin-bottom: 10px;
    margin-top: 10px; }
  .home_info_container ul {
    margin: 0 auto; }
  .home_info_container li:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 600px) {
    .home_info_container {
      width: 40%;
      float: left; } }

.map_container {
  width: 90%;
  margin: 0 auto;
  padding-top: 40px; }
  @media screen and (min-width: 600px) {
    .map_container {
      width: 25%;
      float: left; } }
  .map_container img {
    width: 100%; }

.about_img_container {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px; }
  .about_img_container img {
    width: 100%; }
  @media screen and (min-width: 600px) {
    .about_img_container {
      width: 29%;
      float: left;
      margin-left: 40px; } }

blockquote {
  text-align: center;
  color: #a15b50;
  font-family: "raleway", sans-serif; }

h3 {
  font-family: "museo", serif;
  color: #a15b50;
  font-size: 2em;
  font-weight: 500;
  margin: 0 auto;
  margin-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px; }

h4 {
  font-family: "museo", serif;
  font-weight: 300;
  color: #a15b50;
  margin: 0 auto;
  margin-left: 40px;
  font-size: 1.5em;
  margin-top: 50px; }

h5 {
  font-family: "raleway", sans-serif;
  font-weight: 100;
  color: #bab2ae;
  font-size: 1.3em;
  margin: 0 auto;
  padding-top: 10px;
  width: 90%; }
  h5 a {
    text-decoration: none;
    color: #bab2ae; }

h6 {
  font-family: "raleway", sans-serif;
  font-weight: 100;
  color: #bab2ae;
  font-size: 1em;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-left: 40px; }

p {
  font-family: "raleway", sans-serif;
  font-weight: 100;
  color: #bab2ae;
  width: 90%;
  margin: 0 auto;
  line-height: 1.5em; }

.about_us_content {
  margin-top: 20px; }
  .about_us_content:after {
    content: "";
    display: table;
    clear: both; }

@media screen and (min-width: 600px) {
  .about_us_info {
    width: 64%;
    float: right; }
    .about_us_info p {
      width: 95%; } }

.bio_photo_container {
  width: 70%;
  margin: 0 auto;
  margin-top: 50px; }
  .bio_photo_container img {
    width: 100%; }

@media screen and (min-width: 600px) {
  .about_us_bios h4, .about_us_links h4 {
    margin-bottom: 20px; } }

@media screen and (min-width: 600px) {
  .bio_person_info {
    margin-bottom: 50px; }
    .bio_person_info:after {
      content: "";
      display: table;
      clear: both; }
    .bio_person_info .bio_photo_container {
      float: left;
      width: 32%;
      margin-left: 40px;
      margin-top: 10px; }
    .bio_person_info .person_info {
      float: right;
      width: 63%;
      vertical-align: top; }
      .bio_person_info .person_info p {
        margin-left: 40px;
        width: 90%; } }

.about_us_links:after {
  content: "";
  display: table;
  clear: both; }

.about_us_links_img_container {
  width: 65%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px; }
  .about_us_links_img_container img {
    width: 100%; }
  @media screen and (min-width: 600px) {
    .about_us_links_img_container {
      width: 30%;
      float: left;
      margin-left: 5%;
      padding: 0;
      padding-top: 10px; } }

.about_us_links_info {
  margin-top: 10px; }
  .about_us_links_info p {
    margin-bottom: 10px; }
  .about_us_links_info ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 80%; }
    .about_us_links_info ul li {
      display: block;
      padding-bottom: 5px;
      line-height: 1.5em; }
    .about_us_links_info ul a {
      display: block;
      font-family: "raleway", sans-serif;
      font-weight: 100;
      color: #bab2ae; }
  @media screen and (min-width: 600px) {
    .about_us_links_info {
      width: 60%;
      float: left; }
      .about_us_links_info ul {
        width: 45%;
        float: left;
        margin-left: 5%;
        margin-top: 20px; }
      .about_us_links_info h5 {
        font-size: 1.2em;
        padding: 0; } }

footer {
  margin: 10px auto; }
  footer:after {
    content: "";
    display: table;
    clear: both; }
  footer .email_links a {
    display: block;
    color: #e8ddd6;
    font-family: "raleway", sans-serif;
    font-weight: 100;
    text-align: center;
    padding-top: 10px; }
  footer .social_links {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px; }
    footer .social_links ul {
      list-style: none;
      margin: 0 auto;
      padding: 0;
      text-align: center; }
    footer .social_links li {
      display: inline-block;
      text-align: center;
      margin: 5px; }
    footer .social_links a {
      display: block;
      text-decoration: none;
      color: #e8ddd6;
      font-family: "raleway", sans-serif;
      font-weight: 100;
      text-align: center;
      background: #161927;
      padding: 10px 15px;
      border-radius: 10px; }
  @media screen and (min-width: 600px) {
    footer .email_links {
      float: left;
      width: 30%; }
    footer .social_links {
      float: left;
      width: 20%; }
    footer .copyright {
      float: right;
      width: 40%;
      font-size: .8em; }
      footer .copyright p {
        margin: 0;
        padding: 0;
        display: inline-block; } }

.beer_stats {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px; }
  .beer_stats:after {
    content: "";
    display: table;
    clear: both; }
  .beer_stats h5 {
    margin: 0px 0px 10px 0px;
    font-weight: 100; }
  .beer_stats ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .beer_stats ul:after {
      content: "";
      display: table;
      clear: both; }
  .beer_stats li {
    display: block; }
    .beer_stats li:after {
      content: "";
      display: table;
      clear: both; }
    .beer_stats li p {
      line-height: 1.5em;
      font-weight: 100;
      font-family: "raleway", sans-serif;
      color: #bab2ae; }
  .beer_stats .stat_category {
    float: left;
    width: 25%; }
  .beer_stats .stat_detail {
    float: left;
    width: 75%; }
  .beer_stats .more_link {
    text-decoration: none;
    font-family: "raleway", sans-serif;
    color: #a15b50;
    margin-right: 20px;
    margin-left: 70%; }

.availability {
  clear: both;
  width: 95%;
  margin: 0 auto; }
  .availability:after {
    content: "";
    display: table;
    clear: both; }
  .availability h4 {
    margin-left: 0px; }

@media screen and (min-width: 600px) {
  .beer_stats {
    width: 260px;
    padding: 0 5px 20px 5px;
    height: 250px;
    float: left;
    margin: 0 auto;
    vertical-align: top;
    margin-right: 2%; } }

.taste_room_img_container {
  width: 70%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px; }
  .taste_room_img_container img {
    width: 100%; }
  @media screen and (min-width: 600px) {
    .taste_room_img_container {
      width: 40%;
      float: left;
      padding: 0;
      margin-left: 40px; }
      .taste_room_img_container img {
        width: 100%; } }

.tasting_room_content:after {
  content: "";
  display: table;
  clear: both; }

@media screen and (min-width: 600px) {
  .tasting_room_info {
    width: 55%;
    float: right; }
    .tasting_room_info p {
      margin-left: 40px;
      margin-bottom: 20px; } }

@media screen and (min-width: 600px) {
  .tasting_room_details {
    clear: both;
    padding-top: 50px; } }

.tasting_room_details_img_container {
  width: 70%;
  margin: 0 auto;
  margin-top: 20px; }
  .tasting_room_details_img_container img {
    width: 100%; }
  @media screen and (min-width: 600px) {
    .tasting_room_details_img_container {
      width: 40%;
      float: left; }
      .tasting_room_details_img_container img {
        width: 95%; } }

@media screen and (min-width: 600px) {
  .tasting_room_details_container {
    width: 58%;
    float: left; } }

.tasting_room_details_container div h5 {
  margin-bottom: 10px;
  margin-top: 20px; }
.tasting_room_details_container div a {
  display: block;
  text-decoration: none;
  color: #bab2ae;
  font-family: "raleway", sans-serif;
  font-weight: 100; }

.hours_list {
  width: 90%;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  line-height: 1.5em;
  font-weight: 100;
  font-family: "raleway", sans-serif; }
  .hours_list li:after {
    content: "";
    display: table;
    clear: both; }
  .hours_list .stat_category {
    float: left;
    width: 40%; }
    @media screen and (min-width: 600px) {
      .hours_list .stat_category {
        width: 40%; } }
  .hours_list .stat_detail {
    float: left;
    width: 50%; }
    @media screen and (min-width: 600px) {
      .hours_list .stat_detail {
        width: 50%; } }

.on_tap:after {
  content: "";
  display: table;
  clear: both; }
.on_tap h4 {
  margin-top: 50px; }
.on_tap h5 {
  margin-bottom: 10px;
  margin-top: 20px; }
.on_tap ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 90%; }
  .on_tap ul li {
    color: #bab2ae;
    line-height: 1.5em;
    font-family: "raleway", sans-serif;
    font-weight: 100; }
@media screen and (min-width: 600px) {
  .on_tap .on_tap_lists {
    width: 55%;
    float: right; }
    .on_tap .on_tap_lists .current_list {
      width: 45%;
      float: left;
      margin-bottom: 20px; } }

.on_tap_img_container {
  width: 70%;
  margin: 20px auto;
  padding-bottom: 20px; }
  .on_tap_img_container img {
    width: 100%; }
  @media screen and (min-width: 600px) {
    .on_tap_img_container {
      width: 38%;
      float: left;
      margin-left: 40px; } }

.contact_us_img_container {
  width: 80%;
  margin: 0 auto; }
  .contact_us_img_container img {
    width: 100%; }

.contact_us_info {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px; }
  .contact_us_info:after {
    content: "";
    display: table;
    clear: both; }
  .contact_us_info h5 {
    margin: 0px 0px 10px 0px;
    font-weight: 100; }
  .contact_us_info ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .contact_us_info li {
    display: block;
    margin-bottom: 20px; }
    .contact_us_info li p {
      line-height: 1.5em;
      font-weight: 100;
      font-family: "raleway", sans-serif;
      margin: 0;
      padding: 0; }
  .contact_us_info a {
    color: #bab2ae; }

.painting_container {
  width: 70%;
  margin: 0 auto;
  padding-top: 20px; }
  .painting_container img {
    width: 100%; }
  @media screen and (min-width: 600px) {
    .painting_container {
      width: 40%;
      margin-left: 3%;
      float: left; } }

.subsub_heading {
  margin-top: 0px; }

.detail_container:after {
  content: "";
  display: table;
  clear: both; }

.vital_stats {
  width: 80%;
  margin: 0 auto; }
  .vital_stats:after {
    content: "";
    display: table;
    clear: both; }
  .vital_stats h5 {
    margin-left: 0px; }
  .vital_stats ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    padding-bottom: 10px; }
    .vital_stats ul li:after {
      content: "";
      display: table;
      clear: both; }
  .vital_stats .stat_category {
    float: left;
    width: 20%; }
  .vital_stats .stat_detail {
    float: left;
    width: 80%; }

@media screen and (min-width: 600px) {
  .vital_stats {
    width: 95%;
    font-size: 1em; } }

@media screen and (min-width: 600px) {
  .artemis_info {
    width: 55%;
    float: right; }
    .artemis_info p {
      width: 95%; }
    .artemis_info blockquote {
      font-size: .9em;
      font-weight: lighter;
      margin-left: 40px;
      margin-right: 40px; } }

/*# sourceMappingURL=styles.css.map */
